@media only screen and (max-width: 600px) {
    .smartloansforsmar {
        position: relative !important;
    }
    .display-flex{
        display: block;
    }
    .for-bg-img::before {
        display: block;
        content: "";
        background-image: url(./img/homepage-bitmap.png);
        width: 100%;
        height: 60%;
        background-size: cover;
        right: 80px;
        position: absolute;
        z-index: 99;
        top: 330px;
    }
    .for-bg-img::after {
        display: block;
        content: "";
        background-image: url(./img/homepage-path-2.png);
        width: 100%;
        height: 100%;
        background-size: cover;
        right: 0px;
        position: absolute;
        z-index: 1;
    }
  }