#container { text-align:right; }
#header .links { float:right; }
#header #welcome { float:left; }
#header #welcome a {
	border-right:none;
	border-left:1px dotted #5B9AD4;
}
.wrapper-box #header #welcome { border-right:1px dotted #7B97B2; }

#header #cart { text-align:left; }
#header #cart .dropdown-menu {
	right:auto;
	left:0;
}
#header #cart .heading .cart-icon {
	float:right;
	margin-left: 5px;
}
#header #cart .checkout, .mini-cart-total { text-align:left; }
#header.style2 #cart { text-align:right; }
#header.style2 #cart .dropdown-menu {
	right:0;
	left:auto;
}
#header.style3 #cart { text-align:left; }

#header .button-search {
	left:0;
	right:auto;
}
#header #search input { padding:0 10px 0 36px; }


#menu .nav > li.mega-menu > div > .column a span, #menu .nav > li.categories > div > .column a span, #menu .nav > li > div > ul li a span, #menu .nav > li.custom-link-right { float:left }
#menu .nav > li > .dropdown-menu li .dropdown-menu { right:100%; }

.box-category .down {
	right:auto;
	left:0;
}
.box-category > ul > li ul {
	padding-left:0px;
	padding-right: 10px;
}
.box-category > ul > li ul li a {
	margin-left: 16px;
	margin-right:0;
}
.box-category ul li a, .list-item li a {
	padding:5px 12px 5px 0;
	background:url("../image/bullet-dark-rtl.png") no-repeat right 11px;
}
.box-category > ul > li ul li a:hover, .list-item a:hover {
	margin-left: 16px;
	margin-right:0;
}

#column-right .side-item .product-thumb .image, #column-left .side-item .product-thumb .image {
	float:right;
	margin-right:0px;
	margin-left: 10px;
}
#column-right .side-item .product-thumb .caption, #column-left .side-item .product-thumb .caption {
	text-align:right;
	float:right;
}

.product-list .image {
	float:right;
	margin-left: 20px;
	margin-right:0px;
}
.product-list .product-thumb .button-group .btn-primary, .product-list .product-thumb .button-group .add-to-links { float:right; }
.product-list .product-thumb .button-group .btn-primary {
	margin-right:auto;
	margin-left:5px;
}
#list-view, #grid-view {
	margin-right:auto;
	margin-left:10px;
}

.product-info .cart div { float:right; }
.product-info .cart div .wishlist {
	margin-left:auto;
	margin-right:15px;
}
.product-info .cart div .qty {
	float: right;
	margin-left:20px;
	margin-right:0;
}
.qty .control-label {
	margin-left: 10px;
	margin-right:0px;
	float:right;
}
#tab-description ul {
	margin-left:auto;
	margin-right:15px;
}
.product-info .image-additional a {
	float:right;
	margin-right:7px;
	margin-left:0px;
}
.category-list ul {
	float:right;
	margin-left: 12px;
	margin-right:0px;
}
.product-tab .tabs li {
	float:right;
	margin-right:0px;
}
.manufacturer-list ul { float:right; }

.nav-tabs > li > a {
	border-radius:0px;
	margin-right:auto;
	margin-left:-2px;
}
.category-module .tabs {
	left:70px;
	right:auto;
}
.category-module .tabs li { float:right; }

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { float: right; }

#footer .contact ul li{padding-left:0px; padding-right:22px;}
#footer .contact > ul > li > .fa {
	left:auto;
	right:0;
}
#footer .social a { float:right; }

.infographic-box.pull-left:before{left:-12px; right:auto;}
.infographic-box.pull-left .infographic-year{left:-80px; right:auto;}

.feature-box .feature-icon{float:right;}
.feature-box .feature-content{padding-left:0px; padding-right:50px;}

.alert {
	padding-left:15px;
	padding-right:50px;
}
.alert .fa { right: 18px; }
.text-left { text-align:right; }
.text-right { text-align:left; }
.simple-ul li:after{left:auto; right:0; content: "";}
.simple-ul li{padding-left:0px; padding-right:15px;}
.owl-carousel .owl-wrapper-outer { direction:ltr }
.owl-theme .owl-controls .owl-buttons div.owl-prev {
	right:auto;
	left:0px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
	right:auto;
	left:32px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
border-radius:0px!important;
}
#footer .payments_types {
	text-align:left;
	padding:0px 0 25px 0;
}
 
@media screen and (max-width:991px) {
#header.style2 #logo, #header #logo {
float:none;
}
#header.style2 #cart {
text-align:center;
}
#header.style2 #cart .dropdown-menu {
right:50%;
margin-right:-175px;
}
#header.style3 .col-sm-push-6 {
right:auto;
}
#header.style3 .col-sm-pull-6 {
left:auto;
}
#header.style3 #cart {
text-align:right;
}
#header .links {
border: medium none;
float: none;
}
.drop-icon {
float:right;
}
#menu .nav {
text-align:right;
}
#menu .nav > li, #menu .nav > li.custom-link-right {
float:none;
}
span.submore {
right:auto;
left:0;
}
span.submore:after {
right:auto;
left:0;
}
#menu > span {
padding:0 8px 0 15px;
}
#menu > span:before, #menu > span:after {
left:0;
right:auto;
}
.category .tabs {
right:5px;
left:auto;
}
.product-info .image {
float:none;
}
.sitemap li ul {
margin-left:0px;
margin-right:30px;
}
.infographic-box.pull-left .infographic-year{left:-60px;}
}
@media (max-width: 767px) {
#header #cart, #header.style3 #cart {
text-align:center;
}
#header #cart .dropdown-menu {
right:50%;
margin-right:-175px;
}
#header #cart, #header #search, #header.style2 #cart, #header.style3 #search, #footer .powered_text, #footer .social, #footer .social a {
float:none;
}
.product-list .cart, .product-list .wishlist, .product-list .compare, .product-info > .left, .product-info .image-additional a {
float:none;
}
.product-list .image {
margin-left:0;
}
.category-list ul {
float: none;
width:auto;
margin-left:0px;
}
.product-tab .tabs li {
margin-left:15px;
}
#container .category-module h3 {
text-align:right;
}
#footer .column, #footer .contact {
float:none;
}
.infographic-box.pull-left:before {
    margin-right: -13px;
    right: 50%;
}
.post-comment .post-comment{margin-right:20px;}
}


 @media screen and (max-width:320px) {
#header #cart .dropdown-menu, #header.style2 #cart .dropdown-menu {
margin-right:-125px;
width:250px;
}
.product-info .cart div {
float:none;
}
.product-info .cart div .wishlist {
margin:0 0 0 15px;
}
}
